body{
  background-color: #fffff77e
}

.btn-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-help {
  width: 100%;
}

img {
  max-width: 100%;
}

.texto-grande, flecha{
  font-size: 150%;
}

.texto-mediano{
  font-size: 125%;
}

.fondo-claro{
  background-color: rgb(99, 178, 202);
  border-radius: 5%;
  padding-right: 7px;
  padding-bottom: 2%;
  padding-top: 2%;
}

.imagen-redondeada{
  border-radius: 2%;
}

.link-button, .link-button:hover, .link-button:active, .link-button:visited{
  color: white;
  text-decoration: inherit;
}

.margen {
  padding: 2% 0;
}

.row{
  margin-bottom: 2%;
}



